.project-social-sharing {
    margin-top: 20px;
    display: flex; /* Change to flexbox for horizontal alignment */
    flex-direction: row; /* Align items horizontally */
    align-items: center;
    gap: 10px; /* Add spacing between icons */
}

.project-social-sharing p {
    font-weight: bold;
    margin-right: 15px; /* Add spacing from text to icons */
}

.project-social-sharing a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #0073aa;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s;
}

.project-social-sharing a:hover {
    background-color: #0073aa;
    border-color: #005177;
}

.project-social-sharing svg {
    stroke: #0073aa;
    width: 20px;
    height: 20px;
    transition: stroke 0.3s;
}

.project-social-sharing a:hover svg {
    stroke: #ffffff;
}
